body{
    background: blue;
}
#toparea{
    background:#12233D;
   
   
}
#toparea b{
    color: white;
}
#toparea i{
    color: white;
    
}
#toparea i:hover{
    transform: rotate(260deg);
     transition: all 2s;
     color: #D35400;
}
.menuarea{
    background:#12233D;
    padding: 15px;
    
}
.menuarea img{
           
}
.menuarea ul li{
    margin-left:25px;
    text-align: center;
}
.menuarea p{
    padding:15px 25px;
    background:#FF5F13;
    color:white;
    border-radius:10px;
    text-align:center;
    /* text-transform: uppercase; */
   
}
.menuarea p:hover{
    background:orangered;
}
.navbar{
    color:white !important;
    background: #12233D !important;
    
}

.menuarea a{
    color:white !important;
   
}
.menuarea a:hover{
        color: #D35400  !important;
}
.menuarea a:hover{
    color:orangered;
}
.slidearea{
    background: blanchedalmond;
}
 .slidearea img{
    width: 100%;
    /* height:700px; */
    background:url('c.jpeg') fixed;
    
}
.boxarea{
   /* width:100%;
    height:180px;*/
    background:white;
}
.boxarea h1{
    font-size:80px;
    /* margin-top:30px; */
   color:#154360 ;
   font-family: 'Black Ops One';
   
}
.darea{
   /* width: 100%;
    height: 300px;*/
    background:white;
    padding: 70px;
    
    
}

.image{
    overflow: hidden;
    
}
.image {
    width:100%;
    height:auto;
    transition:all 3s;
    
}
.image:hover{
    transform:scale(1.1,1.1);
}
.box h3{
    font-color:black;
    margin-left: 20px;
    margin-top: 20px;
}
.box img{
    margin-top:30px;
    width: 100%;
}
.box p{
    margin-top:30px;
    margin-left: 30px;
}
.barea{
    background:#FFFFFF; 
    padding:40px; 
}
.barea img{
    /* width: 520px; */
    /* height: 400px; */
    
}
.barea h1{
    font-size:90px;
    margin-top: 20px;
    color: rgb(1, 26, 63);
}
.barea p{
    margin-top: 40px;
}
.marea{
   
    background:white;
    padding:30px;
}
.marea .left{
    /*width: 600px;
    height: 200px;*/
    /* background:rebeccapurple; */
    
}

.marea h1{
    font-size:60px;
    margin-top:30px;
}
.marea .right{
    /*width: 600px;
    height: 200px;*/
    /* background:red; */
    float: left;
    padding-top: 70px;
   
}
.navbar-nav{
    color:white !important;
}


.parea{
   /* width: 100%;*/
    /* height: 400px; */
    background:#FFFFFF;
}
.parea img{
    width: 100%;
    margin-top: 20px;
}
.details{
    width: 100%;
   height: 100px;
   background:#EAECEE  ;
}


.details:hover {
        background-color:blue ;
        transition: all 1s;
}





.zarea{
    /* width: 100%;
    height: 400px; */
    background:#FFFFFF;
    padding: 40px;
}
.zarea img{
    width: 100%;
    
}
.details{
     width: 100%;
    height: 100px;
    background:#EAECEE  ;
}




.bitarea{
    /* width: 100%; */
    /* height: 700px; */
    background: #03225C;
    padding: 100px;
}

.bitarea h1{
    margin-top:100px;
    font-size: 60px;
    color: #EAECEE;
    
}
.bitarea p{
    font-size:20px;
    margin-top:60px; 
    font-family:cursive;
    color: #EAECEE;
}
.bitarea h1{
    font-family: 'Alfa Slab One', cursive;
/* font-family: 'Roboto', sans-serif; */
}
.bitarea h5{
    padding:10px 30px;
    background:#FF5F13;
    color:white;
    border-radius:10px;
    text-align: center;
    margin-top: 30px;
    
}

.xarea{
    width: 100%;
    background:white;
}
.xarea h1{
        font-size:70px;
        margin-top: 100px;
        color:#2C3E50;

}
.teamarea{
    
    background:white;
    padding: 50px;
   

}
.box4image{
    overflow: hidden;
}
.box4{
   overflow: hidden;
   margin: 10px;
}
.box4 img{
    width:100%;
    height:auto;
    transition:all 4s;
   
}
.box4 img:hover{
    transform:scale(1.3,1.3);
}
.text {
    width: 100%;
    background:white;

}   

.text h5:before{
    content:"";
    width:10%;
    height:2px;
    background:red;
    position:relative;
    display:inline-block;
    vertical-align:middle;        			
}
.text h3{
    margin-left:8px;
}
.textarea{
   /* width: 100%;
    height: 600px;*/
    background: #00235B;
    padding: 100px;
   
}
.textarea h1{
    color:white;
    /* margin-top: 120px; */
    font-size:50px;
   
   
   
}
.textarea p{
    color:#FFFFFF;
    /* margin-top: 80px; */
    margin-left: 90px;
    padding: 30px;
   
    
}
.textarea h5{
    color: white;
    margin-left: 120px;
          
}

.newarea{
    background:white;
   
}
.newarea h1{
    margin-top: 150px;
    font-size:60px;
    font-family: 'Shrikhand', cursive;
}

.n1area{
   /* height:600px;*/
    background: white;
    padding: 80px;
}

.box7{
    margin-top:50px;
    background:blue;
   
}
.box7 img{
    width: 100%;
   
}
   
.box7 p{
   margin-left: 20px;
   margin-top: 20px;
   color: #808B96 ;
    
  
}
.box7 h3{
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}
.box7 h3:hover{
        color: #E74C3C ;
}
.box7 b{
    color: orange;
    margin-left: 40px;
    text-decoration: underline;
    margin-top: 20px;
  
}
.footerarea{
    background:black;
    padding: 40px;
   
}
.footerarea p{
    margin-top: 30px;
    color: white;
}
.footerarea img{
    margin-top: 40px;
}
.f1 h3{
    margin-top: 40px;
    color: #FFFFFF;
   
}
.f1 a{

}
.f1 ul li{
    line-height: 40px;
    list-style: none;
    margin-top: 10px;
   
      
}
.f1 ul li:hover{
    padding-left: 5px;
   
   
   
}
.f1 ul li a:hover{
    text-decoration: none !important;
    color: #E74C3C ;
}
.f1 ul li a{
   color:#AEB6BF; 
   
}
.last img{
        width: 100%;
}












