body{
    background: blue;
}
#toparea{
    background: chartreuse;
    height: 40px;
   
}
#menuarea{
    background: chocolate;
    height:100px;
    padding: 20px;
    
}
#menuarea ul li{
    margin-left:25px;
    text-align: center;
}
 .slidearea img{
    width: 100%;
    height:700px;
    background:url('c.jpeg') fixed;
    
}
.boxarea{
    width:100%;
    height:180px;
    background:white;
}
.boxarea h1{
    font-size:80px;
    margin-top:30px;
   color:#00235B;
}
.darea{
    width: 100%;
    height: 300px;
    background:white;
}
.box{
    width:100%;
    height:250px;
    margin-top: 10px;
    overflow:hidden;   

}
.box img{
    width:100%;
    height:auto;
    transition:all 3s;
}
.box img:hover{
    transform:scale(1.2,1.2);
}
.carea{
    width: 100%;
    height: 400px;
    background:#FFFFFF;
}
.box1{
    width:100%;
    height: 250px;
    /*backgroun:pink;*/
    
    
}
.box1 h3{
    font-color:black;
}
.box1 img{
    margin-top:50px;
}
.box1 p{
    margin-top:40px;
    margin-left: 20px;
}
.barea{
    width: 100%;
    height:650px;
    background:green;  
}
.barea img{
    width: 540px;
    height: 500px;
    margin-left:px;
}
.barea h1{
    font-size:90px;
}
.barea p{
    margin-top: 40px;
}
.marea{
    width: 100%;
    height: 200px;
    background:pink;
}
.marea .left{
    width: 600px;
    height: 200px;
    background:rebeccapurple;
    float: left;
}
.marea h1{
    font-size:60px;
    margin-top:30px;
}
.marea .right{
    width: 600px;
    height: 200px;
    background:red;
    float: left;
    padding-top: 70px;
   
}
.marea .right .nav-link{
   
}

. nav-link{
    margin: 30px;
}
.parea{
    width: 100%;
    height: 400px;
    background:#FFFFFF;
} 
.m{
    width: 100%;
    height: 400px;
    background-color:black;
   
}
.m img{
    width: 100%;
    height: 400px;
}
.midarea{
    width: 100%;
    height: 150px;
    background:#FFFFFF;
}
.k{
    width: 100%;
    height: 100px;
    background: white;
    
}
.k :hover{
    width: 100%;
    height: 100px;
    background:#00235B;
    color: white;
}
.zarea{
    width: 100%;
    height: 400px;
    background:#FFFFFF;
}
.fit{
    width: 100%;
    height: 400px;
    background: black;
}
.fit img{
    width: 100%;
    height: 400px;
}
.bootarea{
    width: 100%;
    height: 150px;
    background:#FFFFFF;
}
.box3{
    width: 100%;
    height: 100px;
    background:#FFFFFF;
}
.box3 :hover{
    background:#00235B;
    width: 100%;
    height: 100px;
    color: white;
}
.bitarea{
    width: 100%;
    height: 700px;
    background: violet;
}
.bitarea h1{
    margin-top:200px;
    font-size: 60px;
    
}
.bitarea p{
    font-size:20px;
    margin-top:20px;
   
    
}
.xarea{
    width: 100%;
    height: 350px;
    background:green;
}
.xarea h1{
   margin-top:80px;
   font-size: 60px;
}
.middle{
    width: 100%;
    height: 250px;
    background: white;
    margin-top: -150px;
}
.n{
    width:200px;
    height:200px;
    background:black;
    margin: 20px;
    float: left;
   
}

.teamarea{
    width: 100%;
    height: 420px;
    background:#FFFFFF;
}


.box4{
    width: 100%;
    height: 400px;
    background: hotpink;
    overflow: hidden;
    margin-top: 5px;
   
}
.box4 img{
    width: 100%;
    height:400px;
    transition: all 3s;
    
}
.box4 img:hover{
    transform: scale(1.3,1.3);
    
}
.maxarea{
    width: 100%;
    height: 250px;
    background:#FFFFFF;
}
.max{
    width: 100%;
    height:150px ;
   /*background: coral;*/
}
.max h5:before{
    content:"";
    width:10%;
    height:2px;
    background:red;
    position:relative;
    display:inline-block;
    vertical-align:middle;        			
}
.max h3{
    margin-left:8px;
}
.textarea{
    width: 100%;
    height: 600px;
    background: #00235B;
}
.textarea h1{
    color:white;
    margin-top: 120px;
    font-size:70px;
   
}
.textarea p{
    color:#FFFFFF;
    margin-top: 100px;
    margin-left: 90px;
   
    
}
.textarea h5{
    color: white;
    margin-left: 120px;
    margin-top: 50px;
   
}
.textarea h6{
    color:#808B96 ;
    margin-left:120px ;
   
}
.linearea{
    width: 100%;
    height: 60px;
    background:turquoise; ;
}


.fixarea{
    width:100%;
    height:320px;
    background: red;
}
.garea{
    width: 100%;
    height: 600px;
    background:yellow ;
}






